
.container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.tt-menu,
.ist {
  text-align: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 400px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  outline: none;
}

.typeahead {
  background-color: #fff;
}
.tt-menu {
  width: 300px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead {
  display: none;
}

h2 {
    text-align: center;
}
